*{
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    text-decoration: none;
    margin: 0px;
    padding: 0px;

}
a{
    color: #000000;
}
h1{
    font-size: 5vh;
}

li{
    display: flex;
}


.body1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-image: url(../img/pexels-scottwebb-2824173.jpg);
    background-repeat: no-repeat;
}
.logo-img{
    border-radius: 25%;
    border: #000000 solid 2px;
    width: 80px;
    margin: 10px 0px 10px 20px;
}

.indice-general{
    display: flex;
    justify-content: space-between;
    align-content: center;
    background-color: #444;
    background-color: rgb(46, 46, 46);
    width: 100vw;   
    margin-bottom: 10px;
}
.indice-vinculos{
    font-size: 20px;
    display: flex;
    border:solid rgba(255, 255, 255, 0.2) 2px;
    border:solid #000000 3px;
    background-color: rgb(250, 132, 47);
    border-radius: 7px;
    height: 40px;
    width: 10vw;
    margin: 35px 20px;
    align-items: center;
    justify-content: center;
    color: #000000;
}
.indice-vinculos:hover{
    border:solid #000000 4px;
    font-weight:520;
}


li button{
    border-radius: 20px;
    height: 40px;
    width: 40px;
}

.recipe-list{
    margin-top: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 3vh;
    width: 83vw;
/*     border: rgb(255, 255, 0) 4px dotted;*/
}
.article-recetas img{
    border-radius: 7px 0px 0px 7px;
    width: 40%;
    
}
.article-recetas{
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 40vw;
    border:rgb(0, 0, 0) 3px solid;
    background-color:lightgray;
    /* border: rgb(0, 255, 234) 4px dotted;*/
}
.recetas-info{
    display: flex;
    flex-direction: column;
    font-size: 2vh;
    margin: 7px;
    width: 100%;
    height: 70%;
    padding: 7px;
    align-self: flex-start;
    /* border: red 4px dotted; */
}
.detalle-recetas-boton{
    display: flex;
    justify-content: center;
    align-items: center;
    border: rgb(0, 0, 0) 3px solid;
    border-radius: 8px;
    padding: 2px;
    background-color: #ff9e53;
    width: 170px;
    height: 40px;
    margin: 10px;
    align-self: flex-end;
    justify-self: flex-end;
}
.detalle-recetas-boton:hover{
    border:solid #000000 4px;
    font-weight:520;
}
.article-recetas:hover {
    filter: drop-shadow(3px 3px 6px rgb(88, 88, 88));
    transition-duration: .3s;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top:20px;
    width: 70vw;
    height: 12vh;
    background-color: #444;
    color: #ff6f00; 
    padding: 5px ;
    border-radius:  20px 20px 0 0;
}
.social-icons {
    margin-top: 15px;
}
.social-icons a {
    color: #ff6f00;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.social-icons a:hover {
    color: #fff;
}


/* SEARCH */
.search-form{
    display: flex;
    align-self: center;
}
.search-results{
    margin-top: 20px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3vh;
    width: 100vw;
}
.buscador{
    border:solid #000000 3px;
    border-radius: 7px;
    width: 15vw;
    height: 40px;
}


/* CATEGORIAS */

.categorias-container {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.categoria {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff9e53;
    border-radius: 10px;
    border:rgb(0, 0, 0) 2px solid;
    width: 21vw;
    height: 13vh;
    font-size: 20px;
    font-weight: 700;
    background-image: url();
    background-size: 100% ;
}

/* LOGIN/REGISTER */

.body-form{
    display:flex;
    width: 100vw;
    height: 70vh;
    justify-content: center;
    align-items: center;
}
.form-general {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 1px 8px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.form-general h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-texto{
    width: 100%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 4px;
}

.form-group .error-message {
    color: red;
    font-size: 14px;
    display: none;
    margin-top: 5px;
}

.form-actions {
    margin-top: 20px;
}

.form-actions button {
    width: 100%;
    padding: 10px;
    background-color: orange;
    border: none;
    border-radius: 4px;
    color: black;
    font-size: 16px;
    cursor: pointer; 
    border: rgba(0, 0, 0, 0.0) solid 3px;
}

.form-actions button:hover {
    border:#ff9e53 solid 3px;
    background-color: rgb(255, 255, 255);
}

.form-footer {
    margin-top: 15px;
    text-align: center;
}

.form-footer a {
    color: black;
    text-decoration: none;
}

.form-footer a:hover {
    text-decoration: underline;
}

/* RECETAS */
.informacion-receta{
    width: 80vw;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border:rgb(0, 0, 0) 3px solid;
    background-color:rgb(255, 255, 255);
    /* border: rgb(0, 255, 234) 4px dotted;*/
    
}
.recetas-info-data{
    display: flex;
    flex-direction: column;
    font-size: 15px;
    margin: 7px;
    width: 45%;
    height: 100%;
    padding: 7px;
    padding-left: 10px;
    align-self: flex-start;
}

@media (max-width: 430px){
    .indice-general li{
        flex-direction: column;

    }
    .indice-general li form img{
        margin-bottom: 5px;
        
    }
    .indice-general img{
        width: 15vw;
        margin: 5px 0 0 0;

    }
    .indice-general input{
        width: 80vw;

    }
    .indice-general{
        align-items: center;
        flex-direction: column;
        padding-bottom: 5px;

    }
    .indice-vinculos{
        margin: 5px;
        width: 90vw;
    }
    .article-recetas{
        width: 90vw;
        flex-direction: column;
    }
    .article-recetas img{
        width: 100%;
    }
    .detalle-recetas-boton{
        height: 90px;
        width: 92%;
    }
    /*RECETA*/
    .informacion-receta{
        width: 95vw;
        flex-direction: column;
    }
    .recetas-info-data{
        width: 90%;
    }

    /*CATEGORIAS*/
    
    .categoria{
        width: 90vw;
        height: 8vh;
    }
    .categorias-container {
        gap: 10px;
    }
    
    /*REGISTRO/LOGIN*/

    .body-form{
        width: 90vw;

    }
    
    .form-general{

        width: 90vw;
    }
    footer{

        width: 90vw;
    }

    /*SEARCH*/

    .search-results{
        width: 90vw;
    }
    .body1{

        width: 100vw;
    }
}